#caltoaction .view {
    min-height: 100vh !important;
    height: unset !important;
  }
button {
    border-radius: 35px !important;
}

.btn-1{
  font-size: 1.2rem;
}


.b-Right {
  display: contents !important;
  color: rebeccapurple !important;
}


.purple-slight {
  background-color: #f3e5f5;
}

.bgc-light{
  background-color: #fff5efff 
}

.bgc-darker {
  background-color: #e8c7b7;
}

.bgc-white{
  background-color: white;
}

.bgc-blue {
  background-color:#b8e4f8;
}