#caltoaction .view {
    min-height: 100vh !important;
    height: unset !important;
  }
button {
    border-radius: 35px !important;
}

.btn-1{
  font-size: 1.2rem;
}



.bgc-light{
  background-color: #fff5efff 
}

.bgc-darker {
  background-color: #e8c7b7;
}

.bgc-white{
  background-color: white;
}

.bgc-blue {
  background-color:#b8e4f8;
}
.bgc-blueDark {
  background-color:#4d6376;
}
.bgc-blueDarker {
  background-color:#10374b;
}

.fontW {
  font-weight: 400;
}

.text-orange {
  color: #ef8552;
}

.z-index {
  z-index: 10;
}