.cOrange {
    background-color: #ef8552;
}

.logo {
    width: 11%;
}

.loco-con {
    display: contents;
}


.navbarFS{
    font-size: 1.3rem;
  }

  .text-white{
      color: white;
  }


.manuel-margin{
    margin: -1px;
}
.li-hover:hover {
 color: orange !important;
   }



  