.bg-orange {
    background-color: #ef8552;
}
.txt-orange {
   color: #ef8552;
}

.bg-orangeClair {
    background-color: #e8c7b7;
}
.bg-yellow {
    background-color: #d8ac3c;
}
.bg-cyan {
    background-color: #a4b59f;
}